<div>
    <app-header></app-header>
</div>

<div>

    <div class="container">
        <div class="row">
          <div class="col-6 columncard text-white"
          *ngFor="let data of textData.dashboard.menu">
            <div class="card" (click)="createLead(data.path)">
              <div lines="none" class="card-item centerDiv">
                <div class="iconDiv">
                  <mat-icon  slot="start" class="icon-align">{{data.name}}</mat-icon>
                </div>
                <div class="posLabel">
                  {{data.label}}
                </div>
              </div>
            </div>
          </div>
    </div>

</div>

