// // .content {
// //     height: 80%;
// //     margin-top: 20%;
// //     position: relative;
// // }

// // .inputBoxArea {
// //     position: relative;
// //     margin-top: 10px;
// // }

// // select {
// //     // width: 50px;
// //     border: 0.5px solid lightgrey;
// //     width: 98%;
// //     height: 25px;
// //     margin-top: 5px;
// //     border-radius: 5px;
// // }

// // input {
// //     border: 0.5px solid lightgrey;
// //     width: 98%;
// //     height: 25px;
// //     margin-top: 5px;
// //     border-radius: 5px;
// // }

// // .pincodeBox {
// //     width: 100%;
// //     input {
// //         width: 80% !important;
// //     }
// //     .searchbtn {
// //         width: 20% !important;
// //     }
// // }


form {
    // max-width: 700px;
    margin: auto;
  }
  
  .form-floating label {
    color: #6c757d;
  }
  
  input:focus, select:focus {
    border-color: #007bff !important;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5) !important;
  }

  button:disabled {
    background-color: #b0c4de;
  }

  .input-group {
    max-width: 100%;
  }
  
  button {
    white-space: nowrap;
  }
  
  .mat-icon {
    font-size: 18px;
  }