
form {
    // max-width: 700px;
    margin: auto;
  }
  
  .form-floating label {
    color: #6c757d;
  }
  
  input:focus, select:focus {
    border-color: #007bff !important;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5) !important;
  }

  button:disabled {
    background-color: #b0c4de;
  }

  .input-group {
    max-width: 100%;
  }
  
  button {
    white-space: nowrap;
  }
  
  .mat-icon {
    font-size: 18px;
  }