.content {
    height: 90%;
    margin-top: 10%;
    position: relative;
}

.inputBoxArea {
    position: relative;
    margin-top: 10px;
}

label {
    display: block !important;
    position: relative;
    left: 5%;
}

select {
    // width: 50px;
    border: 0.5px solid lightgrey;
    width: 90%;
    height: 25px;
    margin-top: 5px;
    border-radius: 5px;
    position: relative;
    left: 5%;
}

input {
    border: 0.5px solid lightgrey;
    width: 90%;
    height: 25px;
    margin-top: 5px;
    border-radius: 5px;
    position: relative;
    left: 5%;
}

.checkIn {
    width: 120px;
    height: 40px;
    border-radius: 21px;
    --background: var(--UJ-color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
  }
  
// .btnHead {
//     text-align: center;
// }

// .btn {
//     width: 60%;
//     height: 30px;
//     background: #61459e;
//     color: #FFFFFF;
// }