<div #header>
    <app-ujji-logo></app-ujji-logo>
</div>

<div style="text-align: center; position: relative; top: 100px;">
    <div>
        <div class="card" (click)="openNewCustomer()">
            <div class="iconDiv">
                <mat-icon class="iconsty" style="color: #3e8ce5db">account_circle</mat-icon>
            </div>
            <div class="textDiv">
                New Customer
            </div>
            
        </div>
    </div>

    <div>
        <div class="card">
            <div class="iconDiv">
                <mat-icon class="iconsty" style="color: #ff8f8f;">group</mat-icon>
            </div>
            <div class="textDiv" >
                Existing Customer
            </div>
        </div>
    </div>
</div>
