/* You can add global styles to this file, and also import other style files */
.validation-error {
    margin-top: 5px;
    color: red;
    z-index: 2;
    position: relative;
    margin-bottom: 17px;
}
  